<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="3" name="Test">
    <classes> 
      <class name="com.roi.selenium.TC_001"/>
      <class name="com.roi.selenium.Demo1"/>
      <class name="com.roi.selenium.TC_003"/>
      <class name="com.roi.selenium.TC_004"/>
      <class name="com.roi.selenium.TC_005"/>
      <class name="com.roi.selenium.TC_006"/>
      <class name="com.roi.selenium.TC_007"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
